<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SearchServiceName" value="findmeacab" />
    <add key="SearchServiceKey" value="29DBEB81ABBDA405EBDDD895636EAAB7" />
    <add key="BingMapsKey" value="jDUmcyOiPXX8FZrvz4Z0~c4XBE-mSyv1-_X3xELgh1Q~AkvQ2mTw1MgGZXTCg8GZgwFOs2uewxR3r6ykIsUoEJ0HeXZ4vaAuJELO3LCM6mSm" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>